
<form>
    <p style="text-align:center">
       WELCOME! 
    </p>
    <p>Select the Language</p>
    <select name="language" id="la" [(ngModel)]="spacy.model">
        <option value="en">English</option>
        <option value="de">Deutsch</option>
    </select>
    <p>Please enter your text in the box below: </p>
    <textarea type="text" id="text"[(ngModel)]="spacy.textInput" name="text" maxlength="1000" rows="25" cols="70"></textarea>

<button (click) ="spacyGetText()" class="btn">Submit</button>


<table style = width:70%>
    <thead>
<th>
    arcs
</th>
<th>
    words
</th>
    </thead>
    <tbody>
        <tr >
            <td> 
                <ul *ngIf = "textOutput.arcs != []">
                    <li *ngFor="let arc of textOutput.arcs">
                    <strong>Dir: </strong>{{arc['dir']}}<br/>
                    <strong>End: </strong>{{arc['end']}}<br/>
                    <strong>Label: </strong>{{arc['label']}}<br/>
                    <strong>Start: </strong>{{arc['start']}}<br/>
                    <strong>Text:</strong>{{arc['text']}}
                </li>
                </ul>
            </td>
             <td>
                <ul *ngIf = "textOutput.words != []">
                    <li *ngFor="let word of textOutput.words">
                        <strong>Tag: </strong>{{word['tag']}}<br/>
                        <strong>Text: </strong>{{word['text']}}
                    </li>
                </ul>
            </td>
        </tr>
        
    </tbody>
</table>


     
</form>
