button {
  background-color: #4c93af;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
body {
  background-color: lightblue;
}
p {
  color: rgb(62, 62, 173);
  
}

table, th, td {
    border: 1px solid black;
  }